.project-balloon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 100px;
}


.project-balloon img {
    border-radius: 100%;
    border: 1px solid rgb(42, 42, 46);
    height: 200px;
    width: 200px;
    cursor: pointer;
    
    transition: transform 0.2s ease-in-out;
}

.project-balloon img:hover {
    transform: scale(1.03);
}

.project-balloon p:hover {
    cursor: default;
}


.project {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.247);

    justify-content: center;
    align-items: center;

}
.show {
    display: flex;
}


.proyect-block {
    position: relative;
    background: rgb(235, 235, 235);
    max-width: 850px;
    border-radius: 10px;
    padding: 20px;

}

.proyect-block img {
    width: 100%;
    border-radius: 5px;
}

.proyect-block p {
    margin: 30px 10px 10px 10px;
}

.close-block {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row-reverse;
}

.close-block p {
    margin: 0px;
}

.button {
    margin: 3px;
    padding: 10px;
    background-color:  #2193b0;
    border-radius: 40px;
    color: white;
    text-decoration: none;
}

.button:hover{
    background-color: #21b0a9;
}

.links-block{
    display: flex;
    flex-direction: row-reverse;
}