.content__main-block {
	position: relative;
	margin: 20px 50px 20px 50px;
	background-color: rgba(235, 235, 235, 0.9);
	padding: 50px 30px 50px;
	border-radius: 10px;
	text-align: center;
}

.content__tab-panel {
	padding: 10px 20px 10px 20px;
}

.content__data-card {
	text-align: inherit;
}

@media only screen and (max-width: 700px) {
	.content__main-block {
		margin: 7px 2px 7px 2px;
		padding: 10px 5px 10px 5px;
	}

	.content__tab-panel {
		padding: 0px;
	}
}
