.card{
    background-color: rgb(235, 235, 235);
    text-align: center;
    border-radius: 15px;
    margin: 15px 0px 0px 20px;
}
h3,h4,p{
    margin: 0px;
}
.card-header{
    padding: 5px 0px 5px 0px;
    background-color: rgb(208, 205, 205);
    margin-bottom: 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.row{
    padding: 1px 0px 1px 0px;
    margin: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 23px;
}

.row p{ 
    margin: 0px 0px 0px 10px;
}

hr {
    width: 90%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}